body {
    margin: 0;
    font-family: sans-serif;
    position:relative;
}

.expandable > .category-title,.referenced-in {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
    color: #0645ad;
    background: none;
    cursor: pointer;
}

.category-title {
    display: inline;
}

.referenced-in {
    display: inline;
}

.expandable > ul {
    display: none;
}

.expanded > ul {
    display: inherit;
    list-style-position: inside;
}

.expanded li:first-child {
    list-style: none none;
}

.expandable ul {
    text-decoration: none;
    color: initial;
    background: initial;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a.undefined {
    color: #ba0000;
    cursor: pointer;
}

a.external {
    background-image: linear-gradient(transparent,transparent),url(/resources/images/external_link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.content {
    padding: 10px 20px;
    margin-left: 245px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    font-weight: normal;
}

h1 {
    font-weight: inherit;
    width: 100%;
    border-bottom: 1px solid #a2a9b1;
}

a:visited {
    color: #0b0080;
}

a:hover {
    text-decoration: underline;
}

aside {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    font-size: 0.8em;
    width: 200px;
    height: 100%;
    float: left;
    padding: 20px;
    background-color: #f6f6f6;
    border-right: 1px solid #a9d7f7
}

aside ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    list-style: none none;
}

aside img {
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    background: url(/resources/images/border.png) no-repeat bottom;
    background-size: 100% 1px;
}

nav h3 {
    font-size: 1.1em;
    color: #444444;
    font-weight: normal;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 5px;
    background: url(/resources/images/border.png) no-repeat bottom;
    background-size: 100% 1px;
}